#brmap { display: block; position: absolute; top: 0; left: 0; }
#brmap .state { cursor: pointer; }
#brmap .state .shape { cursor: pointer; stroke-width: 0; }
#brmap .state .label_icon_state { fill: #fff; font-family: Arial; font-size: 10px; font-weight: normal; line-height: 12px; }
#brmap .state .label_state { display: none; font-family: Arial; font-size: 14px; font-weight: bold; line-height: 16px; }
#brmap .state:hover .label_state, #brmap .state.hover .label_state { display: block; }

#brmap .green .state .shape { fill: #6cb361; }
#brmap .green .state .icon_state { fill: #10592f; }
#brmap .green .state .label_icon_state { fill: #fff; }
#brmap .green .state .label_state { fill: #666; }
#brmap .green .state:hover .shape, #brmap .green .state.hover .shape, #brmap .green .stateselected .shape { fill: #167a41; }
#brmap .green .state:hover .icon_state, #brmap .green .state.hover .icon_state { fill: #167a41; }

#brmap .blue .state .shape { fill: #2268ad; }
#brmap .blue .state .icon_state { fill: #00365e; }
#brmap .blue .state .label_icon_state { fill: #fff; }
#brmap .blue .state .label_state { fill: #666; }
#brmap .blue .state:hover .shape, #brmap .blue .state.hover .shape, #brmap .blue .stateselected .shape { fill: #00508e; }
#brmap .blue .state:hover .icon_state, #brmap .blue .state.hover .icon_state { fill: #00508e; }

#brmap .gray .state .shape { fill: #D8D6D6; }
#brmap .gray .state .icon_state { fill: #BBB; }
#brmap .gray .state .label_icon_state { fill: #777777; }
#brmap .gray .state .label_state { fill: #fff; }
#brmap .gray .state:hover .shape, #brmap .gray .state.hover .shape, #brmap .gray .stateselected .shape { fill: #BBBBBB; }

#brmap .orange .state .shape { fill: #F9AA3B; }
#brmap .orange .state .icon_state { fill: #E09021; }
#brmap .orange .state .label_icon_state { fill: #fff; }
#brmap .orange .state .label_state { fill: #666; }
#brmap .orange .state:hover .shape, #brmap .orange .state.hover .shape, #brmap .orange .stateselected .shape { fill: #E09021; }
#brmap .orange .state:hover .icon_state, #brmap .orange .state.hover .icon_state { fill: #E09021; }